<nav class="w-full py-4 px-10 flex items-center justify-between fixed top-0 me-10 z-10">
  <a href="/">soumil07.com</a>
  <div class="flex items-center space-x-4 text text-gray-300">
    <a href="/about" class="hover:text-white transition-colors">About</a>
    <a href="/projects" class="hover:text-white transition-colors">Projects</a>
    <a href="https://soumil07.com/documents/resume.pdf" target="_blank" class="hover:text-white transition-colors">Resumé</a>
  </div>
</nav>
