---
layout: base.njk
title: Projects • soumil07.com
---

    <div class="max-w-5xl mx-auto flex-grow px-10 space-y-8">
      <header>
        <h1 class="text-3xl font-bold mb-2">Projects</h1>
        <p class="text-gray-300 leading-relaxed">
          A selection of things I've built or contributed to.
        </p>
      </header>

      {% include "projects-list.njk" %}
    </div>