---
layout: base.njk
title: Projects • soumil07.com
---

<div class="max-w-5xl mx-auto flex-grow px-4 md:px-10 space-y-8">
  <header>
    <h1 class="text-2xl md:text-3xl font-bold mb-2 text-center sm:text-left">Projects</h1>
    <p class="text-gray-300 leading-relaxed text-center sm:text-left">
          A selection of things I've built or contributed to.
        </p>
  </header>

  {% include "projects-list.njk" %}
</div>